.login__content {
    max-width: 1230px;
    background-color: rgba(238, 238, 208, 0.781);;
    height: 700px;
    position: relative;
    top: 3%;
}
                                
.login-form__heading {
    padding: 3px;
    height: 15%;
    text-align: center;
}


.lf-heading {
    margin-top: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-bottom: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(105, 90, 70);
    font-size: 1.5rem;
}

.login-form {
    width: 70%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 14%;
}

.form {
    font-weight: bold;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 75%;
    text-align: center;
    color: rgb(105, 90, 70);
    font-size: 0.9em;
    align-content: center;
}

.form__label--item {
    font-weight: bold;
    color: rgb(105, 90, 70);
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    padding: 1%;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 2px solid rgba(231, 231, 203, 0.87);
    border-radius: 3px;
    background-color: rgba(238, 238, 208, 0.781);
    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 5px;
    width: 34%;
    height: 40px;
    background: rgb(105, 90, 70);
    border: 1px solid rgba(231, 231, 203, 0.87);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

