.register__content {
    max-width: 1230px;
    background-color: rgb(253, 253, 214);
    height: 700px;
    position: relative;
    top: 3%;
}

.register-form__heading {
    height: 16%;
    text-align: center;
}

.rf-heading {
    margin-top: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(105, 90, 70);
    font-size: 1.5rem;
}

.register-form {
    width: 70%;
    height: 65%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 14%;
}

.form {
    font-weight: bold;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 75%;
    text-align: center;
    color: rgb(105, 90, 70);
    font-size: 0.9em;
    align-content: center;
}

.form__label--item {
    font-weight: bold;
    color: rgb(105, 90, 70);
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    padding-bottom: 1%;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 1px;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(253, 253, 214);
    border-radius: 3px;
    background-color: rgb(253, 253, 214);
    appearance: none;
}

.form__button {
    margin-bottom: 20px;
}

.form__button-submit1 {
    padding: 1px;
    width: 34%;
    height: 55px;
    background: rgb(105, 90, 70);
    border: 3px solid rgb(253, 253, 214);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
